.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #2369e2;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.weather-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-size: 45px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 5px;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 300px;
  font-size: 1rem;
  margin-left: 5px;
}

.search-button {
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 40px;
  font-size: large;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #45a049;
}

.search-button svg {
  font-size: 1.5rem;
}

.weather-info {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  font-size: large;
}
